/vendor
/node_modules
/public/hot
/public/storage
/public/imagen
/public/imagen_5s
/public/entregas
/public/imagen_resguardo
/public/imagen_productos
/public/facturas
/public/archivos_baja
/public/archivos
/storage/*.key
.phpunit.result.cache
docker-compose.override.yml
/public/imagen_productos/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.idea
/.vscode
.env
config/app.php
.env
config/app.php
config/app.php
config/app.php
config/app.php

*.lock
vendor/asantibanez/livewire-charts/.github/CODEOWNERS
vendor/asantibanez/livewire-charts/.github/ISSUE_TEMPLATE/bug_report.md
vendor/asantibanez/livewire-charts/.github/ISSUE_TEMPLATE/feature.md
vendor/asantibanez/livewire-charts/.github/PULL_REQUEST_TEMPLATE
vendor/asantibanez/livewire-charts/.github/workflows/phpunit.yml
vendor/asantibanez/livewire-charts/CHANGELOG.md

config/app.php
config/livewire.php
